<div class="admin-edit-post-section1">
  <div class="add-post-form">
    <h3>Edit Story</h3>
    <form action="/posts/<%= story._id %> " id="saveForm" method="post" enctype="application/x-www-form-urlencoded"></form>
    <form action="/posts/<%= story._id %>" id="mediaForm" method="post" enctype="multipart/form-data"></form>
    <form action="/posts" id="cancelForm" method="get"></form>
    <input type="hidden" name="_method" value="PUT"  form="saveForm"/>
    <input type="hidden" name="_method" value="PUT"  form="mediaForm"/>
    
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title" form="saveForm"
          aria-describedby="titlelHelp"
          value="<%= story.title %> "
        />
        <div id="titleHelp" class="form-text">This is your main title</div>
      </div>
      
      <div class="mb-3">
        <label for="postimg" class="form-label">Post Image</label>
        <input class="form-control" form="mediaForm" type="file" id="postimg" name="postimg"
        value="<%= story.postimg %> ">
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-select mb-3" name="status" id="status" form="saveForm">
            <option value="public" <%= story.status == "public" ? 'selected':'' %>>Public</option>
            <option value="private" <%= story.status == "private" ? 'selected':'' %>>Private</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select mb-3" name="category" id="category" form="saveForm">
          <option value="general" <%= story.category == "general" ? 'selected':'' %> >General</option>
          <option value="webdesign" <%= story.category == "webdesign" ? 'selected':'' %>>Web Design</option>
          <option value="technology" <%= story.category == "technology" ? 'selected':'' %>>Technology</option>
          <option value="lifestyle" <%= story.category == "lifestyle" ? 'selected':'' %>>Lifestyle</option>
          <option value="photography" <%= story.category == "photography" ? 'selected':'' %>>Photography</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="postbody">Tell Us Your Story</label>
        <textarea class="form-control" name="postbody" id="postbody" form="saveForm"><%= story.postbody %></textarea>
        <%# <input type="hidden" name="user" id="user" form="saveForm"> %> 
      </div>
      <button type="submit" class="btn btn-info" form="saveForm">Save</button>
      <button type="submit" class="btn btn-danger" form="cancelForm">
        Cancel
      </button>
      <script>
        CKEDITOR.replace("postbody");
      </script>
  </div>
</div>
